*, *::before, *::after { box-sizing: border-box; }
html, body { margin: 0; padding: 0; background: #080808; color: #fff; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance: textfield; }
button { font-family: inherit; }
